@mixin flex($flex-direction, $align-items, $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}
@mixin font($font-size, $font-family, $font-weight, $text-decoration, $color){
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
    text-decoration: $text-decoration;
    color: $color;
}
@mixin position($position, $top, $left, $width, $height, $zindex){
    position: $position;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    z-index: $zindex;
}