//screens
$desktop: 1400px;
$laptop: 1200px;
$tablet: 990px;
$mobile: 767px;
//fonts
$navfont: ('Trebuchet MS', sans-serif);
//colors
$dark: rgb(30, 30, 30);
$grey: grey;
$light: white;
$green: #4CAF4F;